$buttons: clear, divide, multiply, subtract, seven, eight, nine, add, four, five,
  six, one, two, three, zero, decimal, equals;

$color1: #fcc;
$color2: black;
$color3: #ddd;
$color4: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: clamp(10px, 6vw, 22px);
}

#wrapper {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

#calculator {
  background-color: $color3;
  margin: 0 auto;
  border: thick solid $color2;
  grid-area: 1/2/1/2;
}

#display {
  font-size: 3em;
  text-align: right;
  color: $color3;
  padding: 0.5em;
  background-color: $color2;
}
#history {
  max-width: 15.8em;
  height: 1em;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: $color3;
  background-color: $color2;
}

.pad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "clear divide multiply subtract"
    "seven eight nine add"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  grid-gap: 5px;
  padding: 5px;
}

.button {
  background-color: $color4;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  border: thin solid $color2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0.5em 1em;
}

.button:hover {
  background-color: $color1;
}

@each $button in $buttons {
  .btn-#{$button} {
    grid-area: $button;
  }
}
